

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerBall</title>
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxions.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        scroll-padding-top: 2rem;
        box-sizing: border-box;
    
    
    


    }
    :root {
        --container-color:#1a1e21;
        --second-color:#fd8f44;
        --text-color:#172317;
        --bg-color:#fff;
    }

    ::selection {
        color: var(--bg-color);
        background: var(--second-color);
        
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        width: 100%;
    }
    section {
        padding: 3rem 0 2rem;
    }

    header.shadow {
        background: #fff;
        box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
        transition: 0.4s;
        
    }

    header.shadow .logo {
        color: #1a1e21;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 200;
    }
    .container {
        max-width: 1068px;
        margin:auto;
        width: 100%;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;

    }

    .logo span {
        color: #fd8f44;
    }
    .login  {
        padding: 8px 14px;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 4px;
        background: #fd8f44;
        color: #fff;
    }

    .login:hover {
        background: hsl(24, 98%, 59%);
        transition: 0.3s;
    }

    .home {
        width: 100%;
        min-height: 440px;
        background: #1a1e21;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .home-text {
        color: #fff;
        text-align: center;
        font-size: 0.5rem;
        margin-top: 10%;
        line-height: 2rem;
    }

    .home-title {
        font-size: 3.5em;

    }

    .home-subtitle {
        font-size: 1rem;
        font-weight: 400;
        

    }

    .post-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1.5rem;
        margin-top: 2rem !important;
    }

    .filter-item {
        font-size: 0.9rem;
        font-weight: 500;
        cursor: pointer;
        padding: 0 5%;
    }

    .active-filter {
        background: hsl(24, 98%, 59%);
        color: #fff;
        padding: 4px 10px;
        border-radius: 4px;
    }

    .post {
        display: inline-flex;
        grid-template-columns: repeat(auto-fit, minmax(280px, auto));
        justify-content: center;
        gap: 1.5rem;
        margin-left: 7%;
       
    }

    .post-box {
        
        background: #fff;
        box-shadow: 0 4px 14px hsl(355deg, 25%, 15% /10%);
        padding: 15px;
        border-radius: 0,5rem;
    }

    .post-img{
        border: 1px solid black;
        width: 90%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem;
    }

    .post-img:nth-of-type(4) {
        width: 50%;
    }

    .post-title {
        font-size: 1.3rem;
        font-weight: 600;
        color: #1a1e21;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .post-box p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    .category {
        font-size: 0.9rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fd8f44;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .profile-name {
        padding-left: 2%;
        font-size: 0.82rem;
        font-weight: 500;
    }

    .profile-img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        border: 2px solid #fd8f44;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }

    .footer p{
        font-size: 0.938rem;
    }

    .social {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    .social .bx {
        font-size: 1.4rem;
        color: #1a1e21;
    }

    .social .bx:hover{
        color: #fd8f44;
        transition: 0.3s all linear;
    }


    /*Reponsiveness of the website*/

    @media (max-width:1060px){
        .container{
            margin: 0 auto;
            width: 95%;
        }

        .home-text{
            width: 1000;
        }
    }

    @media (max-width:800px){
        .nav {
            padding: 14px 0;
        }

        .post-container{
            margin: 0 auto;
            width: 95%;
        }
    }

    @media (max-width:768px){
        .nav {
            padding: 10px 0;
        }

        section {
            padding: 2rem 0;
        }

        .header-content {
            margin-top: 3rem !important
            ;
        }

        .home {
            min-height: 380px;
        }

        .home-title {
            font-size: 3rem;
        }

        .header-img {
            height: 370px;
        }

        .post-header {
            height: 435px;
        }

        .header-title {
            width: 90%;
            font-size: 2rem;
            color: #fff;
            text-align: center;
            margin-bottom: 1rem;
        }

        
    .home-text .social-media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: transparent;
        border: .2rem solid orange;
        border-radius: 50%;
        font-size: 2rem;
        color: orange;
        margin: 3rem 1.5rem 3rem 0;
        transition: .3s ease;
    }

    .home-text .social-media a:hover {
        background: var(--main-color);
        color: var(--second-bg-color);
        box-shadow: 0 0 1rem var(--main-color);
    }

      
    }


    .about-us{
        line-height: 30px;
    }

    .content{
        position: relative;
    }

    .content h2 {
       
        color: #fff;
        transform: translate(-50%, -50%);
        
    }

    .content h2:nth-child(1)
    {
        color: transparent;
        -webkit-text-stroke: 2px #03a9f4;
    }

    .content h2:nth-child(2){
        color: #03a9f4;
        animation: animate 4s ease-in-out infinite;
    }

    @keyframes animate {
        0%, 100%
        {
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%,
            84% 59%, 100% 52%, 100% 100%, 0% 100%);
        }
        50%{
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%,
            84% 45%, 100% 46%, 100% 100%, 0% 100%);

        }
        
    }

    .invest {
       
    }

    
    .invest {
        position: relative;
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        padding-top: 25%;
        padding-bottom: 25%;
        display: flex;
        width: 256px;
        height: 256px;
      }
  
      .invest span {
        position: absolute;
        left: 0;
        width: 22px;
        height: 6px;
        background: #1f293a;
        border-radius: 8px;
        transform-origin: 128px;
        transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
        animation: animate 3s linear infinite;
        animation-delay: calc(var(--i) * (3s / 50));
      }
  
      @keyframes animate {
        0% {
          background: rgb(255, 149, 0);
        }
        25% {
          background: #1f293a;
        }
      }

      .PBall button  {
        padding: 8px 14px;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 4px;
        background: #fd8f44;
        color: #fff;
    }

    .PBall button:hover {
        background: hsl(24, 98%, 59%);
        transition: 0.3s;
    }
    @media (max-width:1200px){
        header{
            padding: 1rem 1px;

        }

        .home-text h2:nth-child(1) {
            font-size: large;
            color: orange
        }
        .container  .logo{
            margin:-4px;
            display: flex;
            padding-left: 2px;

        }
        .post-container{
            font-size: medium;
        }

        .invest {
            margin-top: 15%;
            margin-bottom: 15%;
        }
        .profile:nth-child(6){
            visibility: hidden;
        }

        .gaining {
            margin-left: -2px; 
        
        }
       

    }
    @media (max-width:991px){
        body{
            overflow-x: hidden;
        }
        header{
            padding: 1rem 1px;
        }
        .container  .logo{
            margin:-4px;
            display: flex;
            padding-left: 2px;

        }
        .sponsor {
            margin-left: -3%;
        }

        .invest {
            margin-top: 35%;
            margin-bottom: 37%;
            padding-left: -12%;
        }

       

    }
    @media (max-width:768px) {

    }

    @media (max-width:720px){

    }

    @media (max-width:617px){

    }
    @media (max-width:450px) {
        *{
            z-index: 0;
            box-sizing: border-box;
            overflow: scroll;
            
            
        }
     
   
        .login{
            visibility: hidden;
        }
        #showSponsor{
            visibility: visible;
        }
        #Pcontainer{
            display: list-item;
            font-size: small;
        }

        #edition {
            display: list-item;
            font-size: small;
        }

        .sponsor{
            padding-bottom: -13%;
            margin-bottom: -30%;
        }
        .pball{
            margin-left: 1px;
            padding-left: -12%;
        }
        

        .invest {
            padding-top: 45%;
            padding-bottom: 45%;
            overflow: hidden;
            width: 60%;
           
         
        }

        .circle {
            visibility: hidden;
        }
        .gaining h1 {
            margin-left: 2%;
            padding-left: -3%;
        }

        .edition{
            display: list-item;
            font-size: small;
            overflow:hidden;
        }

    }

    @media (max-width: 365px) {
        body{
            overflow-x: hidden;
        }

      

    }

    @media (max-width: 283px) {
        body{
            overflow-x: hidden;
        }
        
      

    }





</style>
<body>
    
    <header>
        <div class="nav container">
            
            <a href="/login" id="showSponsor" class="login">sponsor</a>
           
                

            <a href="#" class="logo">Ikemid<span>cllpbll</span></a>
            <a href="#aboutUs" class="login">About us</a>        
            
        </div>
     
    </header>
   
    <section class="home" id="home">
        <div class="home-text">
            <h2 style="margin-top: -2%;" class="home-title">Ikemidcll Sport and fitness P.Bll</h2>
            <span class="home-subtitle">Experience a great sport</span>
            <h2 style="padding-top: 7%;" class="h2">A beautiful innovation in a sport game. a splendid sunshine that combines contact
                and balls. fun, sunny like the pride of the Gobi. <br>Got patented as a game, with play codes and regulations in Urkunduch, Bundesrepublik, Deutschland
                Like the feline camaraderie, <br> growing in each other's arms, striving and bringing ourselves  from acorns
                to oaks, from takedowns to jumps and blocks, <br> we are the many  in one, all in everything
                New and fresh, energetic and passionate, the rhythms for the sway  of zeal, and the beauty of bodies <br> listening to inner  commands.
                like a conifer fire, blazing brightly amongst people of wills and excellent sporting character, games <br> are currently being played in the countries.
                since the FIBO exhibition in Germany in 2018, and the chaimpionship in 2019 where Guinness
                book of records awarded the <br> first chaimpion of the game, The Tigers of Ghana, its been a race to Doyen.
                Organizations with eye for potentials are currently partnering with the game, <br> games station like LTV,DBS, and daily
                pappers like daily sun, sporting sun, sporting life, airing it to the world
                playing to bated-breathtaking audiences at Heritage <br> African culture Revival, brings to the for, the African culture of scintillation camaraderie.
                so we welcome you to come paticipate in the most beautiful game, <span style="color: #fd8f44; font-weight:bolder;">P.Bill</span>
                 
           
            </h2>
            <div style="font-size: 30px; margin-top:8%; border-radius:15%;" class="social-media">
                <a style="color: white; margin-top:30px; border:1px solid orange; border-radius: 20%; padding:1%; margin-right:2%" href="/facebook.com/ikemidcllp.bll"><i class="bx bxl-facebook"></i></a>
                <a style="color: white; margin-top:30px; border:1px solid orange; border-radius: 20%; padding:1%; margin-right:2%" href="/http:google.com"><i class="bx bxl-twitter"></i></a>
                <a style="color: white; margin-top:30px; border:1px solid orange; border-radius: 20%; padding:1%; margin-right:2%" href="/ikemidcllp.bll"><i class="bx bxl-instagram"></i></a>

            </div>
        </div>
    </section>

    <div class="post-filter container">
        <span class="filter-item active-filter" data-filter="all">All</span>
        <span class="filter-item" data-filter="design">Interviews</span>
        <span class="filter-item" data-filter="tech">video</span>
        <span class="filter-item" data-filter="mobile">Pictures</span>
        
    </div>
    <section id="Pcontainer" class="post container">
        <div style="padding-right: 10%;" class="post-box mobile">
            <img style="width: 140%;" src="img1.jpg" alt="" class="post-img">
            <h2 class="category">Picture</h2>
            <a href="#" class="post-title">
                FIBO exhibition centre  <br>
            </a>
            <span class="post-date">FIBO 2018</span>
            <p>FIBO exhibition centre in Germany 2018 
            </p>
            <div class="profile">
              
                <img src="image6.jpg" alt="" class="profile-img">
                <span class="profile-name">Victor </span>
            </div>
        </div>


        <div class="post-box tech">
            <video autoplay  controls  loop="" width="80%" height="50%" >
                <source src="video31.mp4" type="video/mp4">
            </video>

            <h2 class="category">Video</h2>
            <a href="#" class="post-title">
                Tigers of Ghana vs Lion of Nigeria<br>
            </a>
            <span class="post-date">27th of April 2019</span>
            <p>The game was so interesting and was also a tough game <br>

            </p>
            <div class="profile">
                <img src="image2.jpg" alt="" class="profile-img">
                <span class="profile-name">Micheal</span>
            </div>
        </div>


        <div class="post-box mobile">
            <img src="img8.jpg" alt="" class="post-img">
            <h2 class="category">Pictures</h2>
            <a href="#" class="post-title">
                FIBO exhibition centre<br>
            </a>
            <span class="post-date"></span>
            <p>
                The picture was taken in Germany at FIBO exhibition centre in march 15th, 2018


            </p>
            <div class="profile">
                <img src="image7.jpg" alt="" class="profile-img">
                <span class="profile-name">James</span>
            </div>
        </div>


        
    </section>




    <section id="Pcontainer" class="post container">
        <div class="post-box design">
            <video autoplay  controls  loop="" width="80%" height="50%" >
                <source src="video30.mp4" type="video/mp4">
            </video>
            <h2 class="category">interviews</h2>
            <a href="#" class="post-title">
                Interview session  <br>
            </a>
            <span class="post-date">27th of April 2019</span>
            <p>Lagos televison (LTV) had an interview <br> and a live session of the game when <br>
                 the lions of Nigeria defeated the Tigers of Ghana <br> in the year 2019

            </p>
            <div class="profile">
                <img src="image5.jpg" alt="" class="profile-img">
                <span class="profile-name">LTV news </span>
            </div>
        </div>


        <div class="post-box tech">
            <video autoplay  controls  loop="" width="80%" height="50%" >
                <source src="video4.mp4" type="video/mp4">
            </video>

           
            <h2 class="category">Video</h2>
            <a href="#" class="post-title">
                Indoor Cage Game<br>
            </a>
            <span class="post-date"> march 15th, 2018</span>
            <p>an indoor royal edition game played at FIBO in 2018

            </p>
            <div class="profile">
                <img src="image7.jpg" alt="" class="profile-img">
                <span class="profile-name">jessica</span>
            </div>
        </div>


        <div class="post-box mobile">
            <img src="img3.jpg" alt="" class="post-img">
            <h2 class="category">Picture</h2>
            <a href="#" class="post-title">
                Lions of Nigeria<br>
            </a>
            <span class="post-date">27th of April 2019</span>
            <p>the interesting match that took place  <br> between Ghana and Nigeria in the 2019<br>
            

            </p>
            <div class="profile">
                <img src="img3.jpg" alt="" class="profile-img">
                <span class="profile-name">Nigeria team</span>
            </div>
        </div>


        
    </section>
    


    <section id="Pcontainer" class="post container">
        <div class="post-box design">
            <video autoplay  controls  loop="" width="80%" height="50%" >
                <source style="width: 50%;" src="video39.mp4" type="video/mp4">
            </video>

            <h2 class="category">Royal Game</h2>
            <a href="#" class="post-title">
                interview session <br>
            </a>
            <span class="post-date">25th of jan 2024</span>
            <p>Delta state television sport presenter had an interview session with the game inventor <br>

            </p>
            <div class="profile">
                <img src="img1.jpg" alt="" class="profile-img">
                <span class="profile-name">DST news</span>
            </div>
        </div>


        <div class="post-box tech">
            <video autoplay  controls  loop="" width="80%" height="50%" >
                <source src="video2.mp4" type="video/mp4">
            </video>

            <h2 class="category">Video</h2>
            <a href="#" class="post-title">
                Germany vs Nigeria<br>
            </a>
            <span class="post-date">may 2018</span>
            <p> This took place in Germany back in the year 2018<br>
        

            </p>
            <div class="profile">
                <img src="Image.jpg" alt="" class="profile-img">
                <span class="profile-name">Daily Sun</span>
            </div>
        </div>


        <div class="post-box design">
            <video autoplay  controls  loop="" width="80%" height="50%" >
                <source src="video12.mp4" type="video/mp4">
            </video>

            <h2 class="category">Interviews</h2>
            <a href="#" class="post-title">
                Interview session <br>
            </a>
            <span class="post-date">27th of April 2019</span>
            <p>Lagos televison (LTV) had an interview <br> and a live session of the game when. <br>
                 the lions of Nigeria defeated the Tigers of Ghana <br> in the year 2019

            </p>
            <div class="profile">
                <img src="image5.jpg" alt="" class="profile-img">
                <span class="profile-name">LTV news</span>
            </div>
        </div>


        
    </section>


    <section style="background-color: rgb(8, 6, 6); color:white" class="about-us" id="aboutUs">
        <h1 style="border-bottom:4px solid white; margin-left:45%; border: 30px; " class="About-header">
            ABOUT US

        </h1>
        <div class="div" style="margin-left: 5%;">
            <p class="one">
                <h1>Background</h1>
                Ikemidcell p.bll (power ball) made its global debut during the FIBO 2018 
                exhibition at the MesseGelande exhibition center in Cologne, Germany, the leading <br> international trade show for fitness,
                wellness and health 2018 in koln. 
               
            </p>
            
            <p class="two">
                Subsequently, in 2017, the game was granted a patent in Urkunduch, 
                Bundesrepublik, Deutschland, further solidifying its prominence significantly. 
                it <br> signifies the inagural professional outdoor world chaimpionship that 
                was contested by Nigeria and Germany on the 27th of April 2019, The lion of Nigeria <br> in an
                indoor competition defeated the Tigers of Ghana professional club who settled for silver laurel
                meanwhile the Tigerees of Ghana professional team <br> carted away the gold cup over lioness of Nigeria counterpart on the same day
            </p>
        </div>

          
      

    </section>

    <section style="background-color: black; color:white; line-height:30px">
        <div style="padding-top: 1%; margin-left:5%" class="media-coverage">
            <h1>Media Coverage</h1>
            <p>
                The event has recieved considerable media coverage, including features in reputable
                newspappers and television stations(LTV, Daily Sun, Sporting <br> Sun, Sporting Life and DBS).
                furthermore, it was honored with recognition from Heritage African Culture Revival and the
                 Nigeria Guinness Book of <br> Records
            </p>

        </div>
    </section>


    <section style="background-color: black; color:white; line-height:30px">
        <div style="padding-top: 1%; margin-left:5%" class="media-coverage">
            <h1>P.Bll  Legacy</h1>
            <p>
                Sponsors become part of P.Bll history, with names and pictures, enshrined as legend
                A chance to sponsor university games, creating <br> indoor courts and organizing chaimpionships. 
                You can contact us on <strong style="color: orange;"> 08165433468</strong> and also at <strong style="color: orange;">Pbllworld@gmail.com</strong> 
            </p>

        </div>
    </section>













    <h1 class="patron" style="margin-left: 40%; padding-top: 4%">Our Patrons</h1>
    <section id="Pcontainer" class="post container">
        
        <div style="padding-right: 10%;" class="post-box mobile">
            <img style="width: 140%;" src="picture50.jpg" alt="" class="post-img">
            <h2 class="category">Picture</h2>
            <a href="#" class="post-title">
                His Royal Highness<br>
            </a>
         
            <p> His Royal Highness, OBA KABIRU ADEWALE SOTOBI <br>
                Ayangburen of ikorodu 
            </p>
          
        </div>


        <div class="post-box tech">
            <img style="width: 140%;" src="picture53.jpg" alt="" class="post-img">

            <h2 class="category">Picture</h2>
            <a href="#" class="post-title">
                BRIG. GEN. MAETSU NDAGI<br>
            </a>
           
            <p>BRIG. GEN. MAETSU NDAGI <br>
                Former Commander 9 Brigade <br>Nigeria Army Cantonment

            </p>
           
        </div>


        <div class="post-box mobile">
            <img src="picture51.jpg" alt="" class="post-img">
            <h2 class="category">Pictures</h2>
            <a href="#" class="post-title">
                DCP MUHAMMED A. ALI<br>
            </a>
            <span class="post-date"></span>
            <p>
               DCP MUHAMMED A. ALI <br> Deputy commissioner of
               police DC OPS Lagos state. <br>police command, ikeja
               and formal Delta state commisioner of police

            </p>
          
        </div>


        
    </section>




    <section id="Pcontainer" class="post container">
        <div class="post-box design">
            <img src="picture52.jpg" alt="" class="post-img">
            <h2 class="category">Pictures</h2>
           
            <span class="post-date">Dr David David</span>
            <p>
                Dr David David, the inventor of Nigeria  Guinness <br> book of records
            </p>
          
        </div>


        <div class="post-box tech">
            <img src="picture57.jpg" alt="" class="post-img">
            <h2 class="category">Pictures</h2>

           
            
           
            <span class="post-date"> EVANG SOLOMON OGBA</span>
            <p>Evang, Chief Solomon Ogba <br> Formal president of Athletics of Nigeria

            </p>
           
        </div>


        <div class="post-box mobile">
            <img src="picture54.jpg" alt="" class="post-img">
            <h2 class="category">Picture</h2>
           
            <span class="post-date">Johnson Erijo <span>
            <p>Delta state chief of staff <br> Johnson Erijo<br>
            

            </p>
          
        </div>


        
    </section>
    


    <section id="Pcontainer" class="post container">
        <div class="post-box design">
            <img src="picture55.jpg" alt="" class="post-img">
            <h2 class="category">Pictures</h2>

          
            <span class="post-date">High chief Ugo</span>
            <p>High chief Ugo Asibelua <br> Delta state Chief
            </p>
          
        </div>


        <div class="post-box tech">
            <img src="picture56.jpg" alt="" class="post-img">
            <h2 class="category">Pictures</h2>
           
            <span class="post-date">Mr JOMOH IKEM</span>
            <p> Mr Jomoh Ikem<br>
                Founder and President of Ikemidcll sport <br>
                and fitness P.bll
        

            </p>
        
        </div>


        <div class="post-box design">
            <img src="picture60.jpg" alt="" class="post-img">
            <h2 class="category">Pictures</h2>
            
            <p>
                Delta state television sport <br> presenter with the game inventor

            </p>
          
        </div>


        
    </section>
     














    <h1 class="sponsor" style="margin-left: 34%;">A call for a sponsor</h1>
    <section class="invest">
       <div class="circle">
        <span  style="--i: 1"></span>
        <span  style="--i: 0"></span>
        <span style="--i: 2"></span>
        <span style="--i: 3"></span>
        <span style="--i: 4"></span>
        <span style="--i: 5"></span>
        <span style="--i: 6"></span>
        <span style="--i: 7"></span>
        <span style="--i: 8"></span>
        <span style="--i: 9"></span>
        <span style="--i: 10"></span>
        <span style="--i: 11"></span>
        <span style="--i: 12"></span>
        <span style="--i: 13"></span>
        <span style="--i: 14"></span>
        <span style="--i: 15"></span>
        <span style="--i: 16"></span>
        <span style="--i: 17"></span>
        <span style="--i: 18"></span>
        <span style="--i: 19"></span>
        <span style="--i: 20"></span>
        <span style="--i: 21"></span>
        <span style="--i: 22"></span>
        <span style="--i: 23"></span>
        <span style="--i: 24"></span>
        <span style="--i: 25"></span>
        <span style="--i: 26"></span>
        <span style="--i: 27"></span>
        <span style="--i: 28"></span>
        <span style="--i: 29"></span>
        <span style="--i: 30"></span>
        <span style="--i: 31"></span>
        
        <span style="--i: 32"></span>
        <span style="--i: 33"></span>
        <span style="--i: 35"></span>
        <span style="--i: 36"></span>
        <span style="--i: 38"></span>
        <span style="--i: 37"></span>
        <span style="--i: 39"></span>
        <span style="--i: 40"></span>
        <span style="--i: 41"> </span>
        <span style="--i: 42"> </span>
        <span style="--i: 43"> </span>
        <span style="--i: 44"> </span>
        <span style="--i: 45"> </span>
        <span style="--i: 46"> </span>
        <span style="--i: 47"> </span>
        <span style="--i: 48"> </span>
        <span style="--i: 49"> </span>
        <span style="--i: 50"> </span>
        <span style="--i: 51"> </span>


       </div>
        
       
        <h4 class="pball">P.Bll has the opportunity to attract sponsors who wish
            to associate their brand with this innovative and exciting
            athletic endeavor. Sponsors can contribute to the development of 
            indoor cage courts, sponsor university games, and even organize
            chaimpionship within the campus, enhancing overall sporting experience.
            click on the link below to sponsor the sport
            <a class="button"  href="/login"><button style="background-color: orange;border:none; padding:3%; color:white; margin: 15%;margin-left:35%; border-radius: 15%">sponsor</button></a>
        </h4>


    </section>

    <section  style="background-color:orange" class="gain">
        <h1 class="gaining" style="margin-left: 30%; padding-bottom:15px ">What will you gain as an investor or sponsor?</h1>
        <ul style="padding-left: 5%; line-height:143%">
            <li><strong>World Tour:</strong> P.Bll is a global sport that has the capacity to content with widly popular
                ball activities in the world.Engaging in a global tour of P.Bll <br> would enable the sponsors to
                capitalize on the highly profitable European sports market.

            </li>
            <li>
                <strong>Revenue sharing:</strong>A portion of the earnings generated from online
                game activities, ticket sales, merchandise, and sponsorships will be distributed <br> to investors
                and sponsors. The implementation of this revenue-sharing model guarantees a symbiotic partnership.


            </li>

            <li>
                <strong>Marketing and advertising:</strong>Leverage the potential of social media platforms
                to achieve worldwide recognition, resulting in heightened product <br> sales and increased
                popularity of games.
            </li>

            <ol>
                <strong>International and National Recognizance:</strong>The names of sponsors will be consipicuously
                showcased throughout televised games, granting them <br> an exceptional level of visibility and acknowledgment
                on global scale
            </ol>

            <ol>
                <strong>University partnership:</strong>By endorsing P.Bll as a university sport, sponsors can facilitate
                campus involvement and fund the construction of indoor <br> cage courts. Consistent unversity chaimpionships
                will increase the visibility of the sponsors even further.
            </ol>


        </ul>

    </section>

    

    <section class="edition">
        <h1 style="margin-left: 40%;">
            PowerBall Editions
        </h1>

        <div class="post-filter container">
            <span class="filter-item active-filter" data-filter="all">All</span>
            <span class="filter-item" data-filter="design">Indoor Cage </span>
            <span class="filter-item" data-filter="tech">Outdoor Edition</span> 
            <span class="filter-item" data-filter="mobile">Royal Outdoor</span>
            
        </div>
        <section id="edition" class="post container">
            <div style="padding-right: 10%;" class="post-box mobile">
                <video autoplay  controls  loop="" width="100%" height="70%" >
                    <source src="video10.mp4" type="video/mp4">
                </video>
                <h2 class="category">Royal Outdoor</h2>
                
                
                
            </div>
    
    
            <div class="post-box tech">
                <video autoplay  controls  loop="" width="110%" height="70%" style="margin-right: 10%;" >
                    <source src="video8.mp4" type="video/mp4">
                </video>
    
                <h2 class="category">Outdoor</h2>
              
            </div>
    
    
            <div class="post-box design">
                <video autoplay  controls  loop="" width="100%" height="70%">
                    <source src="video36.mp4" type="video/mp4">
                </video>
                <h2 class="category">Indoor Cage</h2>
               
    
    
            
        </section>


        <section id="edition" class="post container">
            <div style="padding-right: 10%;" class="post-box mobile">
                <video autoplay  controls  loop="" width="100%" height="70%" >
                    <source src="video70.mp4" type="video/mp4">
                </video>
                <h2 class="category">Royal indoor</h2>
                
                
                
            </div>
    
    
            <div class="post-box tech">
                <video autoplay  controls  loop="" width="110%" height="70%" style="margin-right: 10%;" >
                    <source src="video22.mp4" type="video/mp4">
                </video>
    
                <h2 class="category">Indoor</h2>
              
            </div>
    
    
            <div class="post-box design">
                <video autoplay  controls  loop="" width="100%" height="70%">
                    <source src="video3.mp4" type="video/mp4">
                </video>
                <h2 class="category">Indoor Cage</h2>
               
    
    
            
        </section>
    
        
    </section>



    <div class="footer container">
        <!-- <p>&#169; TheAccurate All right Reserved</p> -->
        <div class="social">
            <a href="#"><i class="bx bx1-facebook"></i></a>
            <a href="#"><i class="bx bx1-twitter"></i></a>
            <a href="#"><i class="bx bx1-Instagram"></i></a>
            <a href="#"><i class="bx bx1-linkedin"></i></a>
        </div>
    </div>
    <script   src="https://code.jquery.com/jquery-3.6.3.js"  
     integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="  
      crossorigin="anonymous"></script>
      
 
      <script src="blog.js"></script>
    
</body>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdeliver.net/npm/typed.js@2.0.12"></script>

<script>
    
    
    
    let section = document.querySelectorAll('section');
    let navLinks = document.querySelectorAll('header nav a');


    $(document).ready(function(){
        $('.filter-item').click(function(){
            const value = $(this).attr('data-filter')
            if(value == 'all') {
                $('.post-box').show('1000')
            }
            else {
                $('.post-box').not('.' + value).hide('1000')
                $('.post-box').filter('.' + value).show('1000')
            }
        });
        $('.filter-item').click(function(){
            $(this).addClass("active-filter").siblings().removeClass("active-filter");
        });
    })
    
    const header = document.querySelector('header')
    
    window.addEventListener('scroll', () => {
        header.classList.toggle('shadow', window.scrollY > 0);
    })
  








    

        window.onscroll = () => {
            section.forEach(sec => {
                let top = window.scrollY;
                let offset = sec.offsetTop - 150;
                let height = sec.offsetHeight;
                let id =sec.getAttribute('id')
                
                if(top >= offset && top < offset + height) {
                    navLink.forEach(links => {
                        links.classList.remove('active');
                        document.querySelector('header nav a [href*=' + id +']').classList.add('active');
                        
                    });

                }
            });
        }

        let headerr = document.querySelector('header');

        header.classList.toggle('sticky', window.scrollY > 50);
        ScrollReveal ({
            //reset:true,
            distance: '100px',
            duration: 2000,
            delay: 200,
        });

        ScrollReveal().reveal('.home-text, .About-header, .pball, .gaining, .sponsor, .patron ', {origin:'top'});
        ScrollReveal().reveal('.h2, .one, .media-coverage, .invest, .button' ,{origin:'bottom'});
        ScrollReveal().reveal('.home-subtitle, .two' ,{origin:'right'});
        ScrollReveal().reveal('.div .one',{origin:'left'});





        const typed = new Typed ('.multiple-text', {
            strings: ['web designer', 'frontend engineer', 'computer engineer'],
            typeSpeed: 100,
            backSpeed : 100,
            backDelay: 1000,
            loop: true
        })






        let json_url = "cvblog.json";

    
        fetch(json_url).then((Response) = Response.json())
        .then(data => {
             let documents= data.filter(ele => {
                return ele.name==="CV";
        });
        document.getElementById('title').innerText = documents [0].name;
        document.getElementById('waliyu1.docx').href = documents [0].low;
        document.getElementById('gen').innerText = documents [0].genre;
        document.getElementById('date').innerText = documents [0].date;
        document.getElementById('rate').innerHTML = documents [0].name;



    })







        

        
    

</script>
</html>

<%- include("partials/footer"); -%>