<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerBall</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
    <script>
        function showAlert(){
            alert("you have successfully submitted your details")
        }
    </script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        color: #303433;
    }
    
    body {
        min-height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section.side {
        background: url(./images/bk.png) no-repeat;
        background-size: 100% 102%;
    }
    
    .side img {
        width: 50%;
        max-width: 50%;
    }
    
    .login-container {
        max-width: 450px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title {
        text-transform: uppercase;
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
    }
    
    .separator {
        width: 150px;
        height: 4px;
        background-color: #843bc7;
        margin: 24px;
    }
    
    .welcome-message {
        text-align: center;
        font-size: 1.1em;
        line-height: 28px;
        margin-bottom: 30px;
        color: #696969;
    }
    
    .login-form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .form-control {
        width: 100%;
        position: relative;
        margin-bottom: 24px;
    }
    
    input,
    button {
        border: none;
        outline: none;
        border-radius: 30px;
        font-size: 1.1em;
    }
    
    input {
        width: 100%;
        background: #e6e6e6;
        color: #333;
        letter-spacing: 0.5px;
        padding: 14px 64px;
    }
    
    input ~ i {
        position: absolute;
        left: 32px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
        transition: color   0.4s;
    }
    
    input:focus ~ i {
        color: #843bc7;
    }
    
    button.submit {
        color: #fff;
        padding: 14px 64px;
        margin: 32px auto;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        background-image: linear-gradient(to right, #8b33c5, #15a0e1);
        cursor: pointer;
        transition: opacity 0.4s;
    }
    
    button.submit:hover {
        opacity: 0.9;
    }
    
    /* ----  Responsiveness   ----  */
    @media (max-width: 780px) {
    
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .side {
            display: none;
        }
    }
</style>
<body>
    
    <section class="side">
        <img src="img.svg" alt="">
    </section>
  

    <section class="main">
        <div class="login-container">
            <p class="title">Welcome </p>
            <div style="margin-top: -12px;" class="separator"></div>
            <p class="welcome-message">Please, provide your details to sponsor and the pbll team will get in touch with you</p>

            <form action="" method="POST" class="login-form" >
            
                <div class="form-control">
                    <input type="text" name="fullname" placeholder="fullname" required>
                    <i class="fas fa-user"></i>
                    <div style="color: red;" class="username error"></div>
                </div>
                <div class="form-control">
                    <input type="email" name="email" placeholder="email" required>
                    <i class="fas fa-lock"></i>
                    <div style="color: red;" class="password error"></div>
                </div>
                <div class="form-control">
                    <input type="text" name="phone" placeholder="Phone number" required>
                    <i class="fas fa-lock"></i>
                    <div style="color: red;" class="password error"></div>
                </div>
                <div class="form-control">
                    <input type="text" name="location" placeholder="your location" required>
                    <i class="fas fa-lock"></i>
                    <div style="color: red;" class="password error"></div>
                </div>

                <button class="submit" style="margin-top: 10px;" onclick="showAlert()">Submit</button>
            </form>
        </div>
    </section>
    
</body>
</html> 
<script>
    const form = document.querySelector("form");
   

    form.addEventListener('submit', async (e) => {
        e.preventDefault();


        

        const fullname = form.fullname.value
        const email = form.email.value
        const phone = form.phone.value
        const location = form.location.value

        try{
            const res = await fetch("/invest", {
                method: "POST",
                body: JSON.stringify({fullname, email, phone, location}),
                headers:{'Content-Type': 'application/json'}

            })
            const data = await res.json()
            const handlesubmit = async() => {
                alert("your details have been successfully registered")
            }
            console.log(data)
            if(data.errors){
                fullnameError.textContent = data.errors.fullname
                emailError.textContent = data.errors.email
                phoneErrors.textContent = data.errors.phone
                locationErrors.textContent = data.errors.location
            }
            if(data.user){
                location.assign("/")
            }
    } catch (err){
        console.log(err)

    }

    })
</script>

